@font-face {
  font-family: "RocherColorGX";
  src: url("../assets/font/RocherColorGX-purple3.woff2")
    format("woff2-variations");
  line-gap-override: 85%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

:root {
  --perspective-rotateX: -0deg;
}

body {
  font-family: "RocherColorGX";
  background: url(../assets/bgs/numsBackgroundImage.png);
  min-height: 100vh;
}

/* STYLES FOR THE LIGHT */
.light-img-wrapper {
  width: 125px;
  margin-inline: auto;
  opacity: 0.8;
  transform-origin: bottom center;
}

.spotlight {
  --light-brightness: 0.5;
  width: 85vw;
  height: 600px;
  left: 50%;
  top: 7.5rem;
  background: conic-gradient(
    transparent 110deg,
    rgba(252, 194, 147, var(--light-brightness)),
    transparent 250deg
  );
  filter: blur(35px) brightness(1);
  transform: translate(-50%, -55%);
  border-bottom: 5px solid rgb(167, 131, 2);
  position: absolute;
  transition: filter 0.3s ease;
}

/* END LIGHT STYLES */

.heading-wrapper {
  width: 54.6875rem;
  margin-inline: auto;
  text-align: center;
  text-wrap: nowrap;
  perspective: 800px;
  transform-style: preserve-3d;
  position: relative;
}

.desc,
.desc-title {
  left: 50%;
  position: absolute;
  transform: translatex(-50%) translateZ(-3000px) translateY(1200px);
  opacity: 0;
  top: 2em;
}

.desc-title {
  font-size: 3rem;
  letter-spacing: 5px;
  font-variation-settings: "SHDW" 80, "BVEL" 70;
}

.desc {
  font-size: 1.5rem;
  top: 7em;
  font-variation-settings: "SHDW" 100, "BVEL" 15;
}

.show-description {
  animation: show-description 0.3s ease forwards;
}

@keyframes show-description {
  to {
    transform: translatex(-50%) translateZ(0px) translateY(0px);
    opacity: 1;
  }
}

.card-wrapper {
  width: 50vw;
  display: flex;
  perspective: 600px;
  perspective-origin: bottom;
  transform-style: preserve-3d;
  transform: rotatex(var(--perspective-rotateX));
  margin-top: 22rem;
  margin-inline: auto;
  justify-content: center;
}

.card {
  border-radius: 15px;
  cursor: pointer;
  width: 125px;
  height: 200px;
  /* transition: all 0.25s ease; */
  transition: transform 0.25s ease, filter 0.25s ease;
  filter: blur(10px) brightness(0.5);
  display: grid;
  align-content: end;
  padding-bottom: 1em;
  background: rgba(124, 20, 153, 0.35);
  background-repeat: no-repeat;
  background-size: 300px;
}

.card:hover {
  transform: translatez(150px);
  filter: blur(0px) brightness(1);
  animation: bg-move 30s linear forwards;
}

@keyframes bg-move {
  to {
    background-position: -175px 0%;
  }
}

.card:hover + * {
  transform: translatez(110px) rotatey(25deg);
  filter: blur(3px) brightness(0.75);
}
.card:hover + * + * {
  transform: translatez(37px) rotatey(5deg);
  filter: blur(7px) brightness(0.75);
}
.card:has(+ *:hover) {
  transform: translatez(110px) rotatey(calc(25deg * -1));
  filter: blur(3px) brightness(0.75);
}
.card:has(+ * + *:hover) {
  transform: translatez(37px) rotatey(-5deg);
  filter: blur(7px) brightness(0.75);
}

.card:nth-child(1) {
  background-image: url("../assets/images/projectThumbs/cleaning_78s_thumb.png");
}
.card:nth-child(2) {
  background-image: url("../assets/images/projectThumbs/musicCatalogThumb.png");
}
.card:nth-child(3) {
  background-image: url("../assets/images/projectThumbs/music_catalog_2.0_thumb.png");
}
.card:nth-child(4) {
  background-image: url("../assets/images/projectThumbs/nysa_thumb.png");
}
.card:nth-child(5) {
  background-image: url("../assets/images/projectThumbs/assy_sound_off_thumb.png");
}
.card:nth-child(6) {
  background-image: url("../assets/images/projectThumbs/esam_thumb.png");
}
.card:nth-child(7) {
  background-image: url("../assets/images/projectThumbs/bookmark_thumb.png");
}

.card-icons-wrapper {
  display: flex;
  justify-content: space-around;
  /* outline: 2px solid lime; */
}

.icon {
  max-width: 27%;
}

.link {
  position: absolute;
  inset: 0;
  z-index: 99;
}

/* flames */

.projects-flame-wrapper {
  width: 97dvw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.fl4-w-2 {
  bottom: 6.5rem;
}

.fl4-w-2 > * {
  scale: 0.5;
  margin-inline: 7rem;
}

.lt-fl4-wr,
.rt-fl4-wr {
  width: 250px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.75s ease;
  filter: hue-rotate(290deg);
}

/* .flame4 > * {
  min-width: 250px;
} */

.flame4 {
  display: flex;
}

.flame-4-spark {
  animation: flame4-run 2s steps(52) infinite;
}

.flame-4-fade-in {
  opacity: 0.5;
}

@keyframes flame4-run {
  to {
    transform: translateX(-13000px);
  }
}
