:root {
  --perspective-rotateX: -0deg;
}

/* STYLES FOR THE LIGHT */
.light-img-wrapper {
  width: 125px;
  margin-inline: auto;
  filter: hue-rotate(225deg);
  opacity: 0.8;
  /* transform-origin: bottom center; */
}

.spotlight {
  --light-brightness: 0.3;
  width: 85vw;
  height: 800px;
  left: 50%;
  top: 7.5rem;
  background: conic-gradient(
    transparent 110deg,
    rgba(244, 112, 227, var(--light-brightness)),
    transparent 250deg
  );
  filter: blur(35px) brightness(1);
  transform: translate(-50%, -55%);
  border-bottom: 3px solid rgb(244, 112, 227);
  position: absolute;
  transition: filter 0.3s ease;
}

/* END LIGHT STYLES */

.graphic-design-wrapper,
.portrait-wrapper {
  perspective: 600px;
  perspective-origin: bottom;
  transform-style: preserve-3d;
  position: absolute;
  /* scale: 0.85; */
}

.graphic-design-wrapper img,
.portrait-wrapper img {
  transition: filter 0.5s ease, transform 0.5s ease;
  filter: brightness(0.5) blur(2px);
}

.graphic-design-wrapper {
  top: 60%;
  left: 3%;
}
.portrait-wrapper {
  top: 60%;
  right: 4%;
}

.graphic-design-wrapper img:hover,
.portrait-wrapper img:hover {
  filter: brightness(1) blur(0);
  /* scale: 1; */
  transform: translate3d(0, -25px, 100px);
}

.info-wrapper {
  width: 54.6875rem;
  margin-inline: auto;
  text-align: center;
  text-wrap: nowrap;
  perspective: 800px;
  transform-style: preserve-3d;
  position: relative;
}

.desc,
.desc-title {
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, 1400px, -3000px);
  opacity: 0;
  top: 3em;
}

.desc-title {
  font-size: 2.5em;
  letter-spacing: 5px;
  font-variation-settings: "SHDW" 80, "BVEL" 70;
}

.desc {
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1.4;
  top: 8.5em;
  font-variation-settings: "SHDW" 100, "BVEL" 15;
}

.show-description {
  animation: show-description 0.3s ease forwards;
}

@keyframes show-description {
  to {
    transform: translate3d(-50%, 0px, 0px);
    opacity: 1;
  }
}

.card-wrapper {
  width: 50vw;
  display: flex;
  perspective: 600px;
  perspective-origin: bottom;
  transform-style: preserve-3d;
  /* perspective-origin: top; */
  transform: rotatex(var(--perspective-rotateX));
  margin-top: 45vh;
  margin-inline: auto;
  justify-content: center;
}

.card {
  border-radius: 15px;
  cursor: pointer;
  width: 125px;
  height: 200px;
  /* transition: all 0.25s ease; */
  transition: transform 0.25s ease, filter 0.25s ease;
  filter: blur(10px) brightness(0.5);
  display: grid;
  align-content: end;
  padding-bottom: 1em;
  background: rgba(124, 20, 153, 0.35);
  background-repeat: no-repeat;
  background-size: 300px;
}

.card:hover {
  transform: translatez(150px);
  filter: blur(0px) brightness(1);
  animation: bg-move 20s linear forwards;
}

@keyframes bg-move {
  to {
    /* background-position: -175px 0%; */
    background-position: 100% 0%;
  }
}

.card:hover + * {
  transform: translatez(110px) rotatey(25deg);
  filter: blur(3px) brightness(0.75);
}
.card:hover + * + * {
  transform: translatez(37px) rotatey(5deg);
  filter: blur(7px) brightness(0.75);
}
.card:has(+ *:hover) {
  transform: translatez(110px) rotatey(calc(25deg * -1));
  filter: blur(3px) brightness(0.75);
}
.card:has(+ * + *:hover) {
  transform: translatez(37px) rotatey(-5deg);
  filter: blur(7px) brightness(0.75);
}

.card:nth-child(1) {
  background-image: url("../assets/images/projectThumbs/cleaning_78s_thumb.png");
}
.card:nth-child(2) {
  background-image: url("../assets/images/projectThumbs/musicCatalogThumb.png");
}
.card:nth-child(3) {
  background-image: url("../assets/images/projectThumbs/music_catalog_2.0_thumb.png");
}
.card:nth-child(4) {
  background-image: url("../assets/images/projectThumbs/nysa_thumb.png");
}
.card:nth-child(5) {
  background-image: url("../assets/images/projectThumbs/assy_sound_off_thumb.png");
}
.card:nth-child(6) {
  background-image: url("../assets/images/projectThumbs/esam_thumb.png");
}
.card:nth-child(7) {
  background-image: url("../assets/images/projectThumbs/bookmark_thumb.png");
}

.card-icons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 2px solid lime; */
}

.icon {
  max-width: 27%;
}

.link {
  position: absolute;
  inset: 0;
  z-index: 99;
}

@media screen and (width < 1700px) {
  .info-wrapper {
    top: -1rem;
    font-size: 0.8rem;
  }
  .spotlight {
    height: 600px;
  }
}
