@font-face {
  font-family: "RocherColorGX";
  src: url("./assets/font/RocherColorGX-purple3.woff2")
    format("woff2-variations");
  line-gap-override: 85%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "RocherColorGX";
  min-height: 100vh;
}

.body-bg {
  background: url(./assets/bgs/numsBackgroundImage.png);
}

img {
  max-width: 100%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.heading-wrapper {
  top: 7%;
  left: 4%;
  rotate: -15deg;
  cursor: pointer;
  font-size: 3.5vw;
  display: grid;
  position: absolute;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  transition: font-variation-settings 0.5s ease;
  z-index: 99;
}

/* still need to make heading ?"floating letters"? animation */

.heading-word {
  display: flex;
  letter-spacing: 12px;
  line-height: 1.3;
}

.heading-word > * {
  rotate: 15deg;
}

.page-title-wrapper {
  position: absolute;
  top: 7%;
  right: 4%;
  pointer-events: none;
  font-size: 3.5vw;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  rotate: 15deg;
}

.page-title {
  display: flex;
  letter-spacing: 12px;
}

.page-title > * {
  rotate: -15deg;
}

.heading-wrapper:hover,
.heading-wrapper:focus-visible {
  font-variation-settings: "SHDW" 15, "BVEL" 50;
  animation: home-btn-move 0.5s ease forwards;
}
@keyframes home-btn-move {
  to {
    top: 7.1%;
    left: 4.1%;
  }
}

.pages-flame-wrapper {
  width: 97dvw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.fl4-w-2 {
  bottom: 6.5rem;
  filter: blur(2px);
  z-index: -1;
}

.fl4-w-2 > * {
  scale: 0.5;
  margin-inline: 6rem;
}

.lt-fl4-wr,
.rt-fl4-wr {
  width: 250px;
  overflow: hidden;
  opacity: 0;
  filter: hue-rotate(290deg);
}

.front-fade-in {
  animation: front-fade-in 10s ease forwards;
}

@keyframes front-fade-in {
  to {
    opacity: 0.6;
  }
}
.rear-fade-in {
  animation: rear-fade-in 10s ease forwards;
}
@keyframes rear-fade-in {
  to {
    opacity: 0.6;
  }
}

.flame4 {
  display: flex;
}

.flame-4-spark {
  animation: flame4-run var(--fl4-anim-timing) steps(52) infinite;
}

@keyframes flame4-run {
  to {
    transform: translateX(-13000px);
  }
}
