* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Rulesets Shared on multiple pages */
.nonIdxBody{
    background-image: url(images/numsBackgroundImage.png);
    background-size: cover;
    position:absolute;
}
.right{
    position: absolute;
    top:0;
    right:0;
    margin: 5vw 5vw 0 0;   
}
.nonIdxTriangle{
    background-color:hsl(300, 75%, 15%);
    height:35dvw;
    opacity:.90;
    position:fixed; 
    rotate:-45deg;
    bottom:30%;
    transform-origin:bottom left;
    width:70dvw;
    z-index: -1;
}
.nonIdxHeader{
    color:hsl(300, 75%, 85%);
    font-size: 4dvw;
    margin: 1vw 0 0 1.5vw;
    position:fixed;
}
.nonIdxBody a{
    margin-left:1.5vw;
    position:fixed;
    top:25%;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2dvw;
    color:hsl(300, 75%, 65%);
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* INDEX PAGE */
#indexBody{
    align-items: center;    
    /* background-color:hsl(300, 75%, 5%); */
    background-image: url(images/numsBackgroundImage.png);
    backdrop-filter: blur(3px);
    display:flex;
    height:100dvh;
    justify-content: center;
}
.container{        
    max-height:90dvh;    
    max-width:85dvw;    
    overflow: hidden;
    position:relative; 
}
.mainImg{    
    width:100%;   
}
.triangle{
    background-color:hsl(300, 75%, 15%);
    bottom:80%;
    height:35dvw;
    left:0%; 
    opacity:.95;
    position:absolute; 
    rotate:-45deg;
    width:70dvw;
    transition: bottom 1250ms;
    transform-origin:bottom left;
}
.open{
    bottom:0;   
}
.indexH1{
    color:hsl(300, 75%, 85%);
    font-size: 5dvw;
    left:-23dvw;
    opacity:0;
    position:absolute;
    top:-150px;
    transition: left 1500ms, top 1500ms, opacity 2000ms;
    z-index: 1;
}
.headingMove{
    left: 1dvw;
    opacity:1;
    top:0px;
}
.container nav{   
    overflow: hidden;
    position: absolute;
    top: 28%;
    z-index: 2;
}
#navUL{
    bottom:-2.5dvw;
    position:relative;
    transition: bottom 1000ms, opacity 500ms;
    visibility: hidden;
}
.container ul li{
    display: inline-block;
    list-style-type: none;
    margin-left:1dvw;
    transition:opacity 500ms;
}
.burgerIcon{
    position:absolute;
    top:1%;
    left:.75%;
    width:3.25dvw;
    z-index: 3;
    transition:opacity 250ms;
}

/* BIO PAGE */


.bioContent{
    margin:7vw 0 0 30vw;
    display:flex;
    justify-content: space-evenly;
    width:65vw;
    /* outline: 2px solid greenyellow; */
}

.bioContentText{
    color: hsl(300, 75%, 85%);
    display:flex;
    flex-direction:column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size:1.1rem; */
    font-size:clamp(.85rem, 1.1vw, 1.1rem);
    gap:1rem;
    justify-content: center;
    line-height: 1.5;
    text-indent:4ch;
    width:50%;
}
.bioContent img{
    border-radius:5px;
    width: 35%;
}
.leftSide{
    display:none;
}

/* PROJECTS PAGE*/
/* Decided to experiment with some different selectors */
.projectsContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 5vw 0 0 30vw;
    /* outline: 3px solid lime; */
    row-gap: 2.5vw;
    width:65%;
}
.projectCard{
    /* background-color:hsla(300, 75%, 25%, 10%); */
    /* border-radius:10px; */
    color:hsl(300, 75%, 85%);    
    min-width:350px;
    padding-inline: .75rem;
    text-align: center;
    width:47%;
    
}
.projectCard h2 {
    font-size: 2rem;
}
.projectCard > *:not(img){
    margin:.75rem 0 .75rem 0;
}
.projectCard > img{
    
    width:75%
}
.projectCard p:nth-of-type(2n){
    font-size:1.2rem;
    white-space: nowrap;
}
.icon img{
    width:1.2rem;
}

/* CONTACT PAGE */
.contactContent{
    margin:10vw 0 0 75%;
    width: 40vw;
    /* outline:3px solid red; */
}
.contactContent p{
    color: hsl(300, 75%, 85%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:clamp(1.25rem, 2.25vw, 3.5rem);
    margin-bottom: 2rem;
    text-align: center;
}
.contactContent img{
    width:100%;
}
@media screen and (max-width: 1200px){
    /* COMMON STYLES ACROSS MULTIPLES PAGES */
    .nonIdxTriangle{
        height:7vw;
        rotate:0deg;
        top:0;
        width:100%;
        z-index: 5;
    }
    .nonIdxHeader{
        z-index: 6;
    }
    .nonIdxHeader br{
        display:none;
    }
    .nonIdxBody a{
        right:1.5vw;
        top:1.5vw;
        z-index: 7;
    }
    .right{
        margin-inline:auto;
        margin-block: 0;
        top:11vw;
        width:100vw;
    }
    /* PAGE SPECIFIC STYLES */
    .bioContent{
        /* outline:2px solid lime; */
        margin:10vw 0 0 17.5vw;
    }
    .bioContent img{
        margin-block:auto;
        width:40%;
    }
    .contactContent{
        margin-top:18vw;
        /* outline:2px solid lime; */
        /* width: 75vw; */
    }
    .contactContent img{
        
        width:100%;
    }
    .projectsContainer{
        margin-inline:auto;
        margin-top:10vw;
        row-gap:4vw;
        width:90%;
    }
}

@media screen and (max-width: 900px){
    /* BIO PAGE */
    .rightSide{
        display:none;
    }
    .leftSide{
        display:block;
    }
    .bioContent img{
        margin-bottom:1rem;
        margin-inline:auto;
        width:50%;
    }
    .bioContent{
        flex-direction: column;
        /* outline:2px solid lime; */
    }
    .bioContentText{
        margin-inline:auto;
        text-align: center;
        width:80%;
    }
    /* PROJECTS PAGE */
    .projectsContainer{
        flex-direction:column;
        /* outline:2px solid lime; */
    }
    .projectCard{
        margin-inline:auto;
        width:75%;
    }
    /* CONTACT PAGE */
    .contactContent{
        margin: 25% 17%;
        /* outline:2px solid lime; */
        width:75vw;
    }
}