.page-title-word:nth-of-type(2) {
  margin-left: 2rem;
}

.merry-go-round-wrapper {
  --spin-anim-tim: 120s;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.merry-go-round-inner-wrapper {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 50%;
  left: calc(50% - 150px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: spin-it var(--spin-anim-tim) linear infinite;
}

.merry-go-round-inner-wrapper:hover,
.merry-go-round-inner-wrapper:hover .gd-portrait-wrapper {
  animation-play-state: paused;
}

@keyframes spin-it {
  from {
    transform: perspective(1000px) rotateX(5deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(5deg) rotateY(360deg);
  }
}
.merry-go-round-item {
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translatez(550px);
  transform-style: preserve-3d;
}

.merry-go-round-item > * {
  position: absolute;
}

.merry-go-round-item p {
  bottom: -20px;
  width: 100%;
  line-height: 1.3;
  letter-spacing: 2px;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.merry-go-round-item p::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(50, 50, 50, 0.8);
  z-index: -1;
  filter: blur(2px);
  border-radius: 15px;
}

.merry-go-round-item img {
  width: 100%;
  left: 0;
}

.merry-go-round-item img:last-child {
  filter: blur(2px) brightness(0.4);
  transform: translateZ(-1px);
}

.merry-go-round-item img:hover .merry-go-round-item img:last-child {
  display: none;
}

.gd-portrait-wrapper {
  animation: spin-to-stay var(--spin-anim-tim) linear infinite;
}

@keyframes spin-to-stay {
  from {
    transform: rotateY(0deg) translate3d(0, 0, 275px);
  }
  to {
    transform: rotateY(-360deg) translate3d(0, 0, 275px);
  }
}

footer {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translatex(-50%);
  font-variation-settings: "SHDW" 0, "BVEL" 100;
  letter-spacing: 1px;
}
