.icons-wrapper {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 20%; */
  /* outline: 2px solid lime; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* column-gap: 2rem; */
  row-gap: 1rem;
  place-items: center;
}

.icons-wrapper img {
  width: 50px;
}
